

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Discover how we can help you grow</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="mb-5">Winnovation is the US subsidiary of a French Company, looking for innovations. We are ready to help you enter the European market through our 3 branches: media, telecom and construction.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>


        <section id="services">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Group Bouygues has 5 major subsidiaries</h2>
                <hr class="my-4">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3 lessbig-1">Bouygues Construction</h3>
                  <img class="logo_bouygues by-cn" src="assets/logo_by_cn.png" alt="Bouygues Construction">
                  <p class="text-muted mb-0 reduced-size">A global player in construction with operations in 80+ countries, we design, build and operate building, infrastructure and industrial projects. </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3 lessbig-1">Bouygues Immobilier</h3>
                  <img class="logo_bouygues by-immo" src="assets/logo_by_immo.png" alt="Bouygues Immobilier">
                  <p class="text-muted mb-0 reduced-size">An urban developer/operator, we develop residential, office, retail and sustainable neighbourhood projects to make urban living better.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3 lessbig-1">COLAS</h3>
                  <img class="logo_bouygues by-colas" src="assets/colas_logo.png" alt="COLAS">
                  <p class="text-muted mb-0 reduced-size">A world leader in transport infrastructure construction and maintenance, we promote solutions for responsible mobility.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3 lessbig-1">TF1</h3>
                  <img class="logo_bouygues by-tf" src="assets/logo_tf1.png" alt="TF1 Le Groupe">
                  <p class="text-muted mb-0 reduced-size">As the leading media group in France, we have a mission to inform and entertain. We offer our audiences a wide variety of channels and services for people of all ages.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3 lessbig-1">Bouygues Telecom</h3>
                  <img class="logo_bouygues by-tel" src="assets/logo-bouygues.png" alt="Bouygues Telecom">
                  <p class="text-muted mb-0 reduced-size">A major player in the French electronic communications market, Bouygues Telecom is committed to delivering the best possible digital experience to everyone and to developing uses.</p>
                </div>
              </div>
              <!-- <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3">Bouygues SA</h3>
                  <img class="logo_bouygues by-sa" src="assets/logo_sa.png" alt="Bouygues S.A.">
                  <p class="text-muted mb-0 reduced-size">The head office manages and organizes the subsidiaries, innovation-oriented.</p>
                </div>
              </div> -->
            </div>
          </div>
        </section>

    <section class="bg-primary middle-separation">
      <div class="bg-primary div-background" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white lessbig-1">Start-up, VC, Incubator or Accelerator?</br> We've got what you need!</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4 more-space">We can help you grow across Europe. Our market power in different industries can make you access the European market very fast. We do not take capital participations, we can become your first European client or help you develop your business thanks to our network and business connections. Just give us a call!</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="/startups">Let's see what we can do!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="background-blue div-background" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white lessbig-1">A major player in one of our industries? </br> We have good practices to share!</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4 more-space">We think that American and European actors can share information and good practices and/or achievements in order to perform better in our own markets. We do think that we can create a deep and true win/win relationship by helping each other to create, sell and proceed better.</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="/investment">Let's see what we can do!</a>
            </div>
          </div>
        </div>
      </div>
    </section>






    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Why collaborating with us?</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-euro-sign text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Our trading power in France</h3>
              <p class="text-muted mb-0">We are N°1 in media and construction industries, and the N°2 French mobile carrier.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-handshake text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Our strong partnerships</h3>
              <p class="text-muted mb-0">We work with the C.I.F.E. of Standford and the research labs of the M.I.T.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-building text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">Our presence everywhere</h3>
              <p class="text-muted mb-0">We have offices in San Francisco and in Boston, and a strong network across the U.S.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-trophy text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">We make it. And we make it well!</h3>
              <p class="text-muted mb-0">Our commercial strength and our innovation-oriented mindset will make you the leader of tomorrow.</p>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/amazon.png" alt="Bouygues US Winnovation">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Project management and methods
                  </div>
                  <div class="project-name">
                    Amazon
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/mila.png" alt="Winnovation - Bouygues US">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Industrialization
                  </div>
                  <div class="project-name">
                    Mila
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/google.png" alt="Bouygues US Winnovation">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Future of the city
                  </div>
                  <div class="project-name">
                    Google
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/smartvid.png" alt="Winnovation - Bouygues US">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Currently in POC
                  </div>
                  <div class="project-name">
                    SmartVid.io
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/salesforce.png" alt="Bouygues US Winnovation">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Future of work offices
                  </div>
                  <div class="project-name">
                    Salesforce
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/dashbot.png" alt="Winnovation - Bouygues US">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Industrialization
                  </div>
                  <div class="project-name">
                    Dashbot
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white" id="team">
      <div class="container text-center">
        <h2 class="mb-4">The Team behind Winnovation</h2>
        <p class="mb-5">Our team is composed of great members that are dedicated to their area of expertise, which allows us to  further understand what are your current challenges.</p>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <img src="assets/team/franck.jpeg" alt="Franck Moine" class="profile-picture">
                <h3 class="mb-2 lessbig">Franck Moine</h3>
                <h5 class="mb-2 lessbig-2">CEO</h3>
                <p class="text-muted mb-0 less-less-big">Clément worked as a consultant at Wavestone for 3 years and worked on a one-year mission for a mobile carrier. He then joined Bouygues Telecom as a Marketing specialist and launched the new set-up box "Bbox Miami". 3 years later, in 2016, he joined the Winnovation team. He is a specialist of B2C markets in telecommunications and media industries.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <img src="assets/team/clement.jpeg" alt="Clément Anthonioz-Blanc" class="profile-picture">
                <h3 class="mb-2 lessbig">Clément Anthonioz-Blanc</h3>
                <h5 class="mb-2 lessbig-2">VP Telco Media</h3>
                <p class="text-muted mb-0 less-less-big">Clément worked as a consultant at Wavestone for 3 years and worked on a one-year mission for a mobile carrier. He then joined Bouygues Telecom as a Marketing specialist and launched the new set-up box "Bbox Miami". 3 years later, in 2016, he joined the Winnovation team. He is a specialist of B2C markets in telecommunications and media industries.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <img src="assets/team/hedi.jpeg" alt="Hedi Calabrese" class="profile-picture">
                <h3 class="mb-2 lessbig">Hedi Calabrese</h3>
                <h5 class="mb-2 lessbig-2">VP Construction</h3>
                <p class="text-muted mb-0 less-less-big">After 2 years of experience as an Energy consultant for building, Hedi joined the Innovation departement of Bouygues construction and became an Open Innovation Manager. He worked over more than 140 POCs with external partners and Bouygues Construction employees to change the way we build buildings.</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <img src="assets/team/franck.jpeg" alt="Adrien Chaussinand" class="profile-picture">
                <h3 class="mb-2 lessbig">Adrien Chaussinand</h3>
                <h5 class="mb-2 lessbig-2">VP Real Estate - MIT representative</h3>
                <p class="text-muted mb-0 less-less-big">Adrien conducted scientific research during one year at Ecole Polytechnique Fédérale of Lausanne. He then joined Bouygues Immobilier in 2015 in the Innovation Department. He worked on several innovative projects among which "Entre voisins", a private residential social network. In April 2018, Adrien took charge of Bouygues Group - MIT relationship in Boston.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- <a class="btn btn-light btn-xl sr-button" href="#contact">Contact us NOW!</a> -->

      </div>
    </section>
