

    <header class="masthead text-center text-white d-flex">
      <div class="container my-auto">
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Discover how we can help you grow</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">Winnovation is the US subsidiary of a French Company, looking for innovations. We are ready to help you enter the European market through our 3 branches: media, telecom and construction.</p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
          </div>
        </div>
      </div>
    </header>


        <section id="services">
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">The Group Bouygues has 6 major subsidiaries</h2>
                <hr class="my-4">
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3">Bouygues Construction</h3>
                  <img class="logo_bouygues by-cn" src="assets/logo_by_cn.png" alt="Bouygues Construction">
                  <p class="text-muted mb-0 reduced-size">A global player in construction with operations in 80+ countries, we design, build and operate building, infrastructure and industrial projects. </p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3">Bouygues Immobilier</h3>
                  <img class="logo_bouygues by-immo" src="assets/logo_by_immo.png" alt="Bouygues Immobilier">
                  <p class="text-muted mb-0 reduced-size">An urban developer/operator, we develop residential, office, retail and sustainable neighbourhood projects to make urban living better.</p>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3">COLAS</h3>
                  <img class="logo_bouygues by-colas" src="assets/colas_logo.png" alt="COLAS">
                  <p class="text-muted mb-0 reduced-size">A world leader in transport infrastructure construction and maintenance, we promote solutions for responsible mobility.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3">TF1 The Group</h3>
                  <img class="logo_bouygues by-tf" src="assets/logo_tf1.png" alt="TF1 Le Groupe">
                  <p class="text-muted mb-0 reduced-size">As the leading media group in France, we have a mission to inform and entertain. We offer our audiences a wide variety of channels and services for people of all ages.</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3">Bouygues Telecom</h3>
                  <img class="logo_bouygues by-tel" src="assets/logo-bouygues.png" alt="Bouygues Telecom">
                  <p class="text-muted mb-0 reduced-size">A major player in the French electronic communications market, Bouygues Telecom is committed to delivering the best possible digital experience to everyone and to developing uses.</p>
                </div>
              </div>
              <!-- <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <h3 class="mb-3">Bouygues SA</h3>
                  <img class="logo_bouygues by-sa" src="assets/logo_sa.png" alt="Bouygues S.A.">
                  <p class="text-muted mb-0 reduced-size">The head office manages and organizes the subsidiaries, innovation-oriented.</p>
                </div>
              </div> -->
            </div>
          </div>
        </section>

    <section class="bg-primary middle-separation">
      <div class="bg-primary div-background" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white">Start-up? VC? Incubator? Accelerator?</br> We've got what you need!</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4">We can help you growing across Europe. Becoming your first client or helping you developing your business with the right contacts, just give us a call!</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="/startups">Get Started!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="background-blue div-background" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white">VC or Investment funds?</br> We've got what you need!</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="/investment">Get Started!</a>
            </div>
          </div>
        </div>
      </div>
    </section>






    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">We are present everywhere in the innovation network</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-euro-sign text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Trading power in France</h3>
              <p class="text-muted mb-0">We are N°1 in media and construction, and N°2 French carrier.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-handshake text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Huge partnerships</h3>
              <p class="text-muted mb-0">We work with the CIFE of Standford and the M.I.T in Boston.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-building text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">You can meet us in San Francisco</h3>
              <p class="text-muted mb-0">We have an office on California Street in order to meet.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-trophy text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">We make it and we make it well</h3>
              <p class="text-muted mb-0">Our commercial strenght and our innovation-oriented minds allow us to make you the leader of the market.</p>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/mila_friends.png" alt="Mila Friends Bouygues Telecom">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Industrialization
                  </div>
                  <div class="project-name">
                    Mila
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/slack.png" alt="Slack and Bouygues">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Negociatong on a partnership
                  </div>
                  <div class="project-name">
                    Slack
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/oto.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    In the process of signing
                  </div>
                  <div class="project-name">
                    OTO.ai
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/verizon.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Mutual needs and reflexion
                  </div>
                  <div class="project-name">
                    Verizon
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/dashbot.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Industrialization
                  </div>
                  <div class="project-name">
                    Dashbot
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/aaw.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Exchanges
                  </div>
                  <div class="project-name">
                    Automation Anywhere
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white" id="team">
      <div class="container text-center">
        <h2 class="mb-4">The Team behind Winnovation</h2>
        <p class="mb-5">Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <img src="assets/franck.png" alt="Franck Moine" class="profile-picture">
                <h3 class="mb-2">Franck Moine</h3>
                <h5 class="mb-2">CEO</h3>
                <p class="text-muted mb-0">Heading the IoT subsidiary of Bouygues Group...</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <img src="assets/franck.png" alt="Franck Moine" class="profile-picture">
                <h3 class="mb-2">Franck Moine</h3>
                <h5 class="mb-2">CEO</h3>
                <p class="text-muted mb-0">Heading the IoT subsidiary of Bouygues Group...</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <img src="assets/franck.png" alt="Franck Moine" class="profile-picture">
                <h3 class="mb-2">Franck Moine</h3>
                <h5 class="mb-2">CEO</h3>
                <p class="text-muted mb-0">Heading the IoT subsidiary of Bouygues Group...</p>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <img src="assets/franck.png" alt="Franck Moine" class="profile-picture">
                <h3 class="mb-2">Franck Moine</h3>
                <h5 class="mb-2">CEO</h3>
                <p class="text-muted mb-0">Heading the IoT subsidiary of Bouygues Group...</p>
              </div>
            </div>
          </div>
        </div>

        <!-- <a class="btn btn-light btn-xl sr-button" href="#contact">Contact us NOW!</a> -->

      </div>
    </section>
