
      <section class="background-blue div-background" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white">VC or Investment funds?</br> We've got what you need!</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
          </div>
        </div>
      </section>
<!--
      <section class="bg-primary div-background" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white">Start-up?</br> We've got what you need!</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
          </div>
        </div>
      </section> -->






    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">We are present everywhere in the innovation network</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Trading power in France</h3>
              <p class="text-muted mb-0">We are N°1 in media and construction, and N°2 French carrier.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Huge partnerships</h3>
              <p class="text-muted mb-0">We work with the CIFE of Standford and the M.I.T in Boston.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">You can meet us in San Francisco</h3>
              <p class="text-muted mb-0">We have an office on California Street in order to meet.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">We make it and we make it well</h3>
              <p class="text-muted mb-0">Our commercial strenght and our innovation-oriented minds allow us to make you the leader of the market.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

        <section class="p-0" id="portfolio">
          <div class="container-fluid p-0">
            <div class="row no-gutters popup-gallery">

              <div class="col-lg-4 col-sm-6 contouring">
                <a class="portfolio-box" href="assets/portfolio/slack.png">
                  <img class="img-fluid" src="assets/portfolio/slack.png" alt="Slack and Bouygues">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Negociatong on a partnership
                      </div>
                      <div class="project-name">
                        Slack
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-4 col-sm-6 contouring">
                <a class="portfolio-box" href="assets/portfolio/verizon.png">
                  <img class="img-fluid" src="assets/portfolio/verizon.png" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Mutual needs and reflexion
                      </div>
                      <div class="project-name">
                        Verizon
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-4 col-sm-6 contouring">
                <a class="portfolio-box" href="assets/portfolio/aaw.png">
                  <img class="img-fluid" src="assets/portfolio/aaw.png" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Exchanges
                      </div>
                      <div class="project-name">
                        Automation Anywhere
                      </div>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col-lg-4 col-sm-6 contouring">
                <a class="portfolio-box" href="assets/portfolio/microsoft.png">
                  <img class="img-fluid" src="assets/portfolio/microsoft.png" alt="Slack and Bouygues">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Negociatong on a partnership
                      </div>
                      <div class="project-name">
                        Microsoft
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-4 col-sm-6 contouring">
                <a class="portfolio-box" href="assets/portfolio/tesla.png">
                  <img class="img-fluid" src="assets/portfolio/tesla.png" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Mutual needs and reflexion
                      </div>
                      <div class="project-name">
                        Tesla
                      </div>
                    </div>
                  </div>
                </a>
              </div>

              <div class="col-lg-4 col-sm-6 contouring">
                <a class="portfolio-box" href="assets/portfolio/amz.png">
                  <img class="img-fluid" src="assets/portfolio/amz.png" alt="">
                  <div class="portfolio-box-caption">
                    <div class="portfolio-box-caption-content">
                      <div class="project-category text-faded">
                        Exchanges
                      </div>
                      <div class="project-name">
                        Amazon
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">If you want to know more about us, contact us and we will tell you the next steps...</h2>
        <a class="btn btn-light btn-xl sr-button" href="/contact">Contact us NOW!</a>
      </div>
    </section>
