
      <section class="bg-primary div-background" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white">Start-up? VC? Incubator? Accelerator?</br> We've got what you need!</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4">We can provide you with help, advice and contact in order to begin your growth in France and in Europe. Let's start by a call or a meeting to see what can we do for you and how you can fit our program of implementation through our subsidiaries.</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="background-green div-background" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
              <h2 class="section-heading text-white">VC or Investment funds?</br> We've got what you need!</h2>
              <hr class="light my-4">
              <p class="text-faded mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! All of the templates and themes on Start Bootstrap are open source, free to download, and easy to use. No strings attached!</p>
              <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
          </div>
        </div>
      </section> -->






    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">What we can do for you</h2>
            <hr class="my-4">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-gem text-primary mb-3 sr-icon-1"></i>
              <h3 class="mb-3">Giving you strong insights from our experts</h3>
              <p class="text-muted mb-0">We are leaders in 4 different industries in France, in Europe and we are growing across the world.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-paper-plane text-primary mb-3 sr-icon-2"></i>
              <h3 class="mb-3">Becoming your first European customer</h3>
              <p class="text-muted mb-0">We work with the CIFE of Standford and the M.I.T in Boston.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-code text-primary mb-3 sr-icon-3"></i>
              <h3 class="mb-3">Building a partnership</h3>
              <p class="text-muted mb-0">We have an office on California Street in order to meet.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box mt-5 mx-auto">
              <i class="fas fa-4x fa-heart text-primary mb-3 sr-icon-4"></i>
              <h3 class="mb-3">Helping you build your growth strategy through Europe</h3>
              <p class="text-muted mb-0">Our commercial strenght and our innovation-oriented minds allow us to make you the leader of the market.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="p-0" id="portfolio">
      <div class="container-fluid p-0">
        <div class="row no-gutters popup-gallery">
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/oto.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    In the process of signing
                  </div>
                  <div class="project-name">
                    OTO.ai
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/mila_friends.png" alt="Mila Friends Bouygues Telecom">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Industrialization
                  </div>
                  <div class="project-name">
                    Mila
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/dashbot.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Industrialization
                  </div>
                  <div class="project-name">
                    Dashbot
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/oto.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    In the process of signing
                  </div>
                  <div class="project-name">
                    OTO.ai
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/mila_friends.png" alt="Mila Friends Bouygues Telecom">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Industrialization
                  </div>
                  <div class="project-name">
                    Mila
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-sm-6 contouring">
            <div class="portfolio-box">
              <img class="img-fluid" src="assets/portfolio/dashbot.png" alt="">
              <div class="portfolio-box-caption">
                <div class="portfolio-box-caption-content">
                  <div class="project-category text-faded">
                    Industrialization
                  </div>
                  <div class="project-name">
                    Dashbot
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-5 changing-size-and-font">If you want to learn more about us and see how we can work together, do not hesitate to contact us. We will discuss your issues and explain how we can help you.</h2>
        <a class="btn btn-light btn-xl js-scroll-trigger" href="#contact">Contact us NOW!</a>
      </div>
    </section>
