
@import "bootstrap/bootstrap.min.css";

.reducing-name
{
  font-style: italic;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-size: 0.8em;
}


.middle-separation
{
  display: flex;
  flex-direction: row;
  padding: 0;
}

.div-background
{
  margin: 0;
  padding: 100px 0;
}

.background-grey
{
  background-color: rgb(164, 164, 164);
}

.profile-picture
{
  height: 170px;
  width: 170px;
  border-radius: 100px;
  margin: 0 40px 60px 40px;
}

.background-blue
{
  background-color: rgb(51, 51, 51);
}

.changing-size
{
  height: 50px;
}

.no-margin
{
  margin: 0;
  padding: 0;
  height: 20px;
}

.light-margin
{
  padding: 15px;
  margin: 10px;
  height: 20px;
}

.zero-margin
{
  padding: 0;
  margin: 0;
}

.changing-font
{
  font-size: 0.8em;
  letter-spacing: 1px;
}

.logo_bouygues
{
  height: 80px;
  width: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.reduced-size
{
  font-size: 0.9em;
  text-align: justify;
  text-align-last: center;
  margin: 0 20px;
}

.changing-size-and-font
{
  font-size: 1.2em;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.contenu-use-case
{
  color: black;
  margin-top: 20px;
  margin-left: 30px;
}
